$electric: #0030ff;
$azure: #96aaff;

$white: #ffffff;
$ivory: #fbfff1;
$black: #212227;

@mixin theme {
	--c-background: #{$ivory};
	--c-text: #{$black};

	--c-button-contained-background: #{$electric};
	--c-button-contained-text: #{$ivory};
	--c-button-contained-border: #{$electric};

	--c-input-border: #{$azure};
	--c-input-border_hover: #{$electric};
	--c-input-text: #{$black};

	--c-nav-border: #{$azure};
	--c-nav-text: #{$electric};

	--c-product-list-border: #{$azure};
	--c-product-list-header-background: #{$electric};
	--c-product-list-header-text: #{$ivory};
	--c-product-list-body-background: #{$white};
	--c-product-list-body-text: #{$black};
	--c-product-list-body-text-title: #{$electric};

	--c-mall-list-background: #{$white};
	--c-mall-list-text: #{$black};
	--c-mall-list-border: #{$azure};
	--c-mall-list-button-background: #{$white};
	--c-mall-list-button-background_hover: #{$azure};
	--c-mall-list-button-text: #{$electric};
}

@mixin font {
	--ff-primary: 'Rubik', sans-serif;
}
